* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --background: #121212;
    --overlay: #e1bee709;
    --headfooter: #1C241D;
    --font: rgb(255, 255, 255);
    --hover: #af8eb5;
    --button: #7f6085;
    --cards: #436d4afa;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}


/* .home-image {
    background: url(/Images/widest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */

footer.footer {
    text-align: center;
    color: #9da1a6;
    position: relative;
    background-color: #141414;
    padding: 30px 0px 10px 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

ul.social {
    margin: 0;
    padding: 0;
}

footer.footer ul.social {
    margin: 0px 0px 10px 0px;
}

footer.footer ul.social li {
    display: inline-block;
    margin: 0px 10px;
}

footer.footer ul.social li a {
    color: #393939;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border-color: #393939;
    position: relative;
    border: 2px solid #393939;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 10px;
    font-size: x-large;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

footer.footer ul.social li a:hover {
    color: var(--hover);
    border-color: var(--hover);
}


/* the toggle, I just don't want to deal with it rn
.toggle {
    float: right;
    padding-right: 20px;
    ;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--button);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--button);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
*/

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.content {
    background-color: var(--background);
}

.icon {
    padding-left: 25px;
    word-spacing: 25px;
    float: left;
}

.feature {
    margin: 10px;
}

.feature-1 {
    margin: auto;
    margin-top: 0 !important;
}

.feature-2 {
    width: 100%;
    align-items: center;
}

.opinion {
    background-color: var(--overlay);
    width: 40em;
    margin: auto;
    padding: 10px;
    color: white;
}

.opinion-title {
    background-color: #7f60854f;
    color: var(--font);
    padding-left: 20px;
    border-radius: calc(0.45rem - 1px);
}


/*login page*/

.contentbox {
    background-color: var(--overlay);
    min-height: 80vh;
    margin: auto;
    width: 60em;
    color: var(--font);
    display: flex;
    text-align: center;
    align-items: center;
}

.formbox {
    margin: auto;
}

.mainpage {
    background-color: var(--overlay);
    width: 80em;
    min-height: 90vh;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}


/*opinion page*/

.forum {
    background-color: var(--overlay);
    width: 40em;
    min-height: 90vh;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    color: white;
}

.svg {
    width: 120%;
}

.logo {
    width: 150px;
}

.comment {
    margin: 10px;
    overflow: hidden;
    color: var(--font);
    margin-top: 40px;
}

.comment2 {
    margin: 10px;
    overflow: hidden;
}

.center {
    margin: 15px 45px 0px 45px;
}

.input {
    width: 375px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}


/*forum images*/

.card {
    height: fit-content;
    min-width: 18rem;
    max-width: 18rem;
    flex: 0 1 calc(25% - 1em);
    background-color: var(--cards);
    color: white;
}

.card-footer {
    justify-content: space-between;
}


/* Menu */

.bg-dark {
    background-color: var(--headfooter) !important;
}


/*hover color*/

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--hover);
}

.nav-item a {
    color: var(--button);
    font-size: 2em;
}

.nav-item a:hover {
    color: var(--hover);
}

.fa-fw {
    color: var(--button);
}

.fa-user {
    color: var(--font);
}

.fa-user:hover {
    color: white;
}


/*text color*/

.navbar-dark .navbar-nav .nav-link {
    color: var(--font);
}


/*button*/

.btn:hover {
    background-color: var(--hover);
}

.btn {
    background-color: var(--button);
    border-color: black;
}

.dropdown-menu {
    background-color: #7f6085;
}

.dropdown-item {
    color: var(--font);
}

.png {
    width: 5%;
}

.split {
    display: flex;
    height: 80%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}


/* Control the left side */

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.main-image {
    width: 800px;
}


/* Control the right side */

.right {
    float: right;
    right: 0;
    background-color: var(--background);
}


/* If you want the content centered horizontally and vertically */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.post {
    border: 5px solid #7f6085;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.user {
    justify-content: center;
}

.user-profile {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
}

.post-word {
    overflow: hidden;
}

.post-image {
    padding: 0 50 0 0px;
    align-items: center;
}

.public-response {
    align-items: center;
}

#js_emoji {
    display: flex;
    flex-flow: row;
    font-size: x-large;
    margin-left: 5px;
    align-self: center;
}

.fa:hover {
    color: var(--hover);
}


/* Mobile Styles */

@media only screen and (max-width: 500px) {
    .feature-1,
    .feature-2,
    .input,
    .mainpage,
    .opinion {
        width: 90%;
    }
    .forum {
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .contentbox {
        height: 70%;
    }
    .right {
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-image {
        width: 275px;
    }
}


/* Tablet Styles */

@media only screen and (min-width: 501px) and (max-width: 960px) {
    .feature-1,
    .feature-2 {
        width: 50%;
    }
    .mainpage,
    .opinion,
    .input {
        width: 90%;
    }
    .contentbox {
        height: 80%;
    }
    .forum {
        width: 90%;
    }
    .main-image {
        width: 500px;
    }
}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .page {
        width: auto;
        margin: 0 auto;
    }
    .feature-1,
    .feature-2 {
        width: 22%;
    }
    .mainpage,
    .forum,
    .opinion {
        width: 90%;
    }
}