
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --background: #121212;
    --overlay: #e1bee709;
    --headfooter: #436d4a31;
    --font: rgb(255, 255, 255);
    --hover: #af8eb5;
    --button: #af8eb5;
    --cards: #9fcda56b;
  }

  body {
    min-height: 100vh;
    margin: 0;
    position: relative;
   }
  
  body::after {
    content: '';
    display: block;
    height: 50px;
  }

  .home-image {
    background: url(/Images/widest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

  }
  
  .page {
      display: flex;
      flex-wrap: wrap;
    }
    
    .section {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content {
      background-color: var(--background);
    }
  
    .footer {
      clear: both;
      background-color: var(--headfooter);
      color: rgb(255, 255, 255);
      width: 100%;
      height: 50px;
      margin-top: -50px;
      position: absolute;
      bottom: 0;
      justify-content: space-between;
      padding: 0 30px 0 30px;
    }
    
    .feature {
      margin: 10px;
    }
  
    .feature-1 {
      margin: auto;
      margin-top: 0 !important;
    }
    
    .feature-2 {
      width: 100%;
      align-items: center;;
    }
    
    .feature-3 {
      background-color: #EDFCD7;
    }

    /*login page*/
    .contentbox {
      background-color: var(--overlay);
      min-height: 86vh;
      margin: auto;
      width: 60em;
      color: white;
      display: flex;
      text-align: center;
      align-items: center;
    }

    .formbox {
     margin: auto;
    }

    .mainpage {
      background-color: var(--overlay);
      width: 80em;
      min-height: 100vh;
      margin: auto;
      margin-top: -116px;
      padding: 10px;
      padding-top: 300px;
      overflow: hidden;
    }
    /*opinion page*/
    .forum {
      background-color: var(--overlay);
      width: 80em;
      min-height: 86vh;
      margin: auto;
      padding: 10px;
      overflow: hidden;
      color: white;
    }
  
    .svg {
      width: 120%;
    }
  
    .comment {
      margin: 10px;
      overflow: hidden;
      color: var(--font);
      margin-top: 40px;
    }
    .comment2{
      margin: 10px;
      overflow: hidden;
    }
    .avatar {
      float: left;
      width: 40%;
      margin: 25px;
      border: 40px;
      background-color: #eee;
    }
    .center {
      margin: 15px 45px 0px 45px;
    }
    .input {
      width: 375px;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    /*forum images*/
    .card-deck {
      justify-content: space-center;
    }
    .card {
      height:fit-content;
      min-width: 15rem;
      max-width: 18rem;
      flex: 0 1 calc(25% - 1em);
      background-color: var(--cards);
      color: white;
    }
    .card-footer {
      justify-content: space-between;
    }

      /* Menu */
    .bg-dark {
      background-color: var(--headfooter) !important;
    }
      /*hover color*/
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
      color: var(--hover)  !important;
    }
    /*text color*/
    .navbar-dark .navbar-nav .nav-link {
      color: white;
    }
    /*button*/
    .btn :hover {
      color: var(--hover)  !important;
    }
    .btn {
      color: #ffffff !important;
      background-color: var(--button);
      border-color: black;      
    }

    /* Mobile Styles */
    @media only screen and (max-width: 400px) {
      .feature-1,
      .feature-2,
      .feature-3,
      .input,
      .mainpage {
        width: 90%;
      }
      .forum {
        width: 90%;
        align-items: center;
      }
      .contentbox {
        width: 90%;
      }
    }
    
    /* Tablet Styles */
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      .feature-1,
      .feature-2,
      .feature-3 {
        width: 50%;
    }
    .contentbox,
    .mainpage,
    .input {
      width: 90%;
    }
    .forum {
      width: 90%;
    }
  
  }
    
    /* Desktop Styles */
    @media only screen and (min-width: 961px) {
      .page {
        width: auto;
        margin: 0 auto;
      }
      .feature-1,
      .feature-2,
      .feature-3 {
        width: 22%;
      }
      .footer {
          height: 60px;
          order: 2;
      }
      .mainpage,
      .forum {
        width: 90%;
      }
    }
  